<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = new SongMethods();
    string file = @"~\App_Data\PlayList.xml";
    DataSet ds = mySongMethods.GetAllSongs(file);
    //Pagina 10
    Session["playlistClass"] = mySongMethods;
    Session["file"] = file;
    //Pagina 13
}

<html>
@RenderPage("~/Shared/_Header.cshtml")
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>Artiest</td>
            <td>Title</td>
            <td>Cover foto</td>
            <td>Bestand locatie</td>
            <td>Verwijder nummer</td>
            <td>Nummer bewerken</td>
        </tr>
        @foreach (DataRow dr in ds.Tables["songs"].Rows)
        {
            <tr>
                <td>@dr["id"]</td>
                <td>@dr["artist"]</td>
                <td>@dr["title"]</td>
                <td>@dr["cover"]</td>
                <td>@dr["fileLocation"]</td>
                <td><a href="~/Pages/DeleteSong.cshtml?id=@dr["id"]"><i class="fa fa-trash accountIcon"></i></a></td>
                <td><a href="~/Pages/EditSong.cshtml?id=@dr["id"]"><i class="fa fa-edit accountIcon"></i></a></td>
            </tr>
            //Pagina 11
            //Regel 39 pagina 18
        }
    </table>
    <a href="~/Pages/CreateSong.cshtml">Create Songs</a>
    <a href="~/Pages/PlaySong.cshtml">Play Songs</a>
</body>
@RenderPage("~/Shared/_Footer.cshtml")
</html>