<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = new SongMethods();
    string file = @"~\App_Data\PlayList.xml";
    DataSet ds = mySongMethods.GetAllSongs(file);
    Session["playlistClass"] = mySongMethods;
    Session["file"] = file;

    int currentID = ds.Tables["songs"].Rows.Count;
    Session["nextID"] = currentID + 1;
}

<html>
@RenderPage("~/Shared/_Header.cshtml")
<body>
    @RenderPage("~/Pages/DeleteSong.cshtml")

    <script src="~/Scripts/MusicPlayer.js"></script>
    <table>
        <tr>
            <td class="TableEmptyTD"></td>
            <td>ID</td>
            <td class="tableTitle">Title</td>
            <td>Artiest</td>
            <td>Album</td>

            <td>Cover foto</td>
            <td>Cover foto link</td>
            <td>Bestand locatie</td>
            <td class="TableEmptyTD"></td>
        </tr>
        @foreach (DataRow dr in ds.Tables["songs"].Rows)
        {
            <tr><th colspan="9" class="bordered"></th></tr>
            <tr class="playListRow" ondblclick="MusicPlayerInfo('@dr["title"]', '@dr["artist"]', '@dr["album"]', '@dr["cover"]')">
                <td class="TableEmptyTD"></td>
                <td>@dr["id"]</td>
                <td class="tableTitle">@dr["title"]</td>
                <td>@dr["artist"]</td>
                <td>@dr["album"]</td>
                <td><img src="@dr["cover"]" class="songCoverImage" /></td>
                <td>@dr["cover"]</td>
                <td>@dr["fileLocation"]</td>
                <td><a onclick="openOverlay('@dr["id"]')"><i class="fa fa-trash playListIcon"></i></a></td>
                <td class="TableEmptyTD"></td>
            </tr>
            //Pagina 11
            //Regel 39 pagina 18

        }
    </table>
    <a href="~/Pages/CreateSong.cshtml">Create Songs</a>
    <a href="~/Pages/Login.cshtml">Login</a>

    <span title="Open muziek speler">
        <i onclick="MusicPlayerOpen()" id="MusicPlayerOpen" class="fa fa-arrow-up MusicPlayerOpen"></i>
    </span>

    @RenderPage("~/Shared/_MusicPlayer.cshtml")

</body>
@RenderPage("~/Shared/_Footer.cshtml")
</html>